<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
    <!--<link rel="stylesheet" href="bootstrap.css">-->
    <title></title>
</head>
<body>
    <div id="page" class="site">
        
        <header class="site-header headroom headroom--top" role="banner">

            <div class="container">
                <!-- .container sets margin and padding -->
                <div id="headerRow" class="row"><!-- row has padding-left+-15. Since I want to align the header with the rest of the page (which uses rows) I need to add a row here too -->
                    <div class="site-branding">
                        <h1 class="site-title"><a href="http://2609087-0.web-hosting.es/" rel="home">n&degmer&degs<br>ases&degres</a></h1>
                    </div><!-- .site-branding -->

                    <nav class="main-navigation" role="navigation">
                        <div id="primary-menu" class="menu">
                            <ul>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">nosotros</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">servicios</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">noticias</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">contacto</a></li>
                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->

                </div><!-- #headerRow -->
            </div><!-- .container -->
        </header><!-- header -->

        <div id="content" class="site-content"><!-- .site-content adds some top-padding as it overlaps with the header (can I make it not overlap??) -->

            <div class="container">
                <!-- .container sets margin and padding -->

                <div id="mainContentRow" class="row">

                    <div class="maincontent-area">

                        <div class="large-entry">
                            <header>
                                ?Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
                            </header>
                            <div class="entry-content">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                            </div><!-- .entry-content -->
                        </div>

                    </div><!-- #large-paragraph -->

                </div><!-- #mainContentRow -->

                <div id="subContentRow" class="row">

                    <div class="subcontent-area">

                        <div class="col-md-6">
                            <div class="subsection-header">
                                servicios destacados
                            </div>
                            <div class="services-summary">
                                <header>
                                    Asesoria fiscal
                                </header>
                                <div class="entry-content">
                                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam qu
                                </div><!-- .entry-content -->
                            </div>
                            <div class="services-summary">
                                <header>
                                    Asesoria fiscal
                                </header>
                                <div class="entry-content">
                                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis a
                                </div><!-- .entry-content -->
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="col-md-6 centerColumn-padding">
                                <div class="subsection-header">
                                    apuntate testas fechas
                                </div>
                                <div class="dated-news">
                                    <div class="dated-header">
                                        <span class="large-number">20</span>marzo
                                    </div>
                                    <header>
                                        Asesoria fiscal
                                    </header>
                                    <div class="entry-content">
                                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante
                                    </div><!-- .entry-content -->
                                </div>
                                <div class="dated-news">
                                    <div class="dated-header">
                                        <span class="large-number">10</span>abril
                                    </div>
                                    <header>
                                        Asesoria fiscal
                                    </header>
                                    <div class="entry-content">
                                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.
                                    </div><!-- .entry-content -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="subsection-header">
                                    ultimas noticias
                                </div>
                                <div class="news">
                                    <header>
                                        Asesoria fiscal
                                    </header>
                                    <div class="entry-content">
                                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                    </div><!-- .entry-content -->
                                </div>
                                <div class="news">
                                    <header>
                                        Asesoria fiscal
                                    </header>
                                    <div class="entry-content">
                                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas n
                                    </div><!-- .entry-content -->
                                </div>
                            </div>

                        </div>

                    </div> <!-- multi-paragraph -->
                </div><!-- #subContentRow -->

            </div><!-- .container -->

        </div><!-- .site-content -->

        <footer class="site-footer" role="contentinfo">

            <div class="container">
                <!-- .container sets margin and padding -->
                <nav class="footer-navigation" role="navigation">
                    <!--<div id="primary-menu" class="menu">-->
                    <ul>
                        <li>nomeros asesores s.l.</li>
                        <li>avenida damian tellez lafuente, 7b</li>
                        <li>06010 badajoz</li>
                        <li>tfno. 924031042</li>
                        <li>info@nomeros.com</li>
                        <li><a href="https://wordpress.org/" target="_blank">facebook</a></li>
                    </ul>
                    <!--</div>-->
                </nav><!-- #site-navigation -->

                <p class="copyright">&copy 2017 nomeros numeros. <a href="https://wordpress.org/" target="_blank">Politica de privacidad</a> y <a href="https://wordpress.org/" target="_blank">terminos de usos</a></p>
            </div><!-- .container -->

        </footer><!-- footer -->

    </div> <!-- .site -->
</body>
</html>