<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
    <!--<link rel="stylesheet" href="bootstrap.css">-->
    <title></title>
</head>
<body>
    <div id="page" class="site">
        <div id="home">
            <header id="masthead" class="site-header headroom headroom--top" role="banner">

                <div class="container">

                    <div class="site-branding">
                        <h1 class="site-title"><a href="http://2609087-0.web-hosting.es/" rel="home">n&degmer&degs<br>ases&degres</a></h1>
                    </div><!-- .site-branding -->
                    <!-- What is this exactly? -->
                    <div id="mobile-header-primary">
                        <a id="responsive-menu-button-primary" href="#sidr-main-primary">Menu</a>
                    </div>

                    <nav id="site-navigation" class="main-navigation" role="navigation">
                        <div id="primary-menu" class="menu">
                            <ul>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">nosotros</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">servicios</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">noticias</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">contacto</a></li>
                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->

                </div><!-- .container -->

            </header><!-- #masthead -->
        </div><!-- #home -->

        <div id="content" class="site-content">

            <div class="container">
                <div class="row">

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">

                            <article>
                                <header>
                                    <b>ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m</b>
                                </header>
                                <div class="entry-content">
                                    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>
                                </div><!-- .entry-content -->
                            </article>

                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div><!-- .row -->

                <div class="row">
                    <div id="primary" class="subcontent-area">
                        <div class="col-md-6">Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</div>
                        <div class="col-md-3">Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</div>
                        <div class="col-md-3">Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</div>
                    </div><!-- .row -->

     </div>

                </div><!-- .container -->
        </div><!-- #content -->

        <footer id="colophon" class="site-footer" role="contentinfo">

            <div class="container">
                <p>nomeros asesores s.l.  &nbsp &nbsp  avenida damian tellez lafuente, 7b  &nbsp &nbsp  06010 badajoz  &nbsp &nbsp  tfno. 924031042  &nbsp &nbsp  info@nomeros.com  &nbsp &nbsp  <a href="https://wordpress.org/" target="_blank" style="text-decoration: underline">facebook</a></p>
                <p class="footer-copyright">&copy 2017 nomeros numeros. <a href="https://wordpress.org/" target="_blank" style="text-decoration: underline">Politica de privacidad</a> y <a href="https://wordpress.org/" target="_blank" style="text-decoration: underline">terminos de usos</a></p>
            </div><!-- .container -->

        </footer><!-- #colophon -->
    </div>
</body>
</html>