<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
    <!--<link rel="stylesheet" href="bootstrap.css">-->
    <title></title>
</head>
<body>
    <div id="page" class="site">
        <!-- .site sets the background color -->

        <header class="site-header headroom headroom--top" role="banner">

            <div class="container">
                <!-- .container sets margin and padding -->
                <div id="headerRow" class="row">
                    <!-- row has padding-left+-15. Since I want to align the header with the rest of the page (which uses rows) I need to add a row here too -->
                    <div class="site-branding">
                        <h1 class="site-title"><a href="http://2609087-0.web-hosting.es/" rel="home">n&degmer&degs<br>ases&degres</a></h1>
                    </div><!-- .site-branding -->

                    <nav class="main-navigation" role="navigation">
                        <div id="primary-menu" class="menu">
                            <ul>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">nosotros</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">servicios</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">noticias</a></li>
                                <li class="page_item page-item-2"><a href="http://2609087-0.web-hosting.es/?page_id=2">contacto</a></li>
                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->

                </div><!-- #headerRow -->
            </div><!-- .container -->
        </header><!-- header -->

        <div id="content" class="site-content">
            <!-- .site-content adds some top-padding as it overlaps with the header (can I make it not overlap??) -->

            <div class="container">
                <!-- .container sets margin and padding -->

                <div id="locationPathRow" class="row">
                    <div class="location-Path">
                        nomeros asesores / noticias /macenas ullamcorper volutpat
                    </div>
                </div>

                <div id="titleRow" class="row">
                    <div class="post-title">
                        <p>maecenas ullamcoprer  volutpat orci.</p>
                        <p class="post-title-date">lunes 09 octubre de 2017</p>
                    </div>
                </div>

                <div id="contentRow" class="row">
                    <div class="col-md-6">
                        text
                    </div>
                    <div class="col-md-6">
                        text
                    </div>
                </div>

                <div id="imageRow" class="row">
                </div>

                <div id="siTeHaResultadoUtilRow" class="row">
                    <div class="siTeHaResultatodUtil">
                        si te ha resultado util, te puede interesar
                    </div>
                </div>

                <div id="newsRow" class="row">
                </div>

            </div><!-- .container -->

        </div><!-- .site-content -->

        <footer class="site-footer" role="contentinfo">

            <div class="container">
                <!-- .container sets margin and padding -->
                <p>nomeros asesores s.l.  &nbsp &nbsp  avenida damian tellez lafuente, 7b  &nbsp &nbsp  06010 badajoz  &nbsp &nbsp  tfno. 924031042  &nbsp &nbsp  info@nomeros.com  &nbsp &nbsp  <a href="https://wordpress.org/" target="_blank">facebook</a></p>
                <p class="copyright">&copy 2017 nomeros numeros. <a href="https://wordpress.org/" target="_blank">Politica de privacidad</a> y <a href="https://wordpress.org/" target="_blank">terminos de usos</a></p>
            </div><!-- .container -->

        </footer><!-- footer -->

    </div> <!-- .site -->
</body>
</html>